<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta http-equiv="Content-Security-Policy" content="font-src 'self'">
        <link rel="stylesheet" href="../assets/css/styles.css">
        <title>{{ site.title }}</title>
    </head>

    <script defer>
        document.addEventListener('DOMContentLoaded', () => {
            const userAgent = navigator.userAgent;
            const isMobile = /Mobi|Android|iPhone/i.test(userAgent);

            if (isMobile) {
                alert("This website will never be optimized for mobile, go away");
            }
        });
    </script>

    <body class="bg-black text-white flex flex-col min-h-screen ">
        {{comp.navbar()}}
        <main class="flex-grow">
            {{ content }}
        </main>
        {{comp.footer({
            links: [
                { text: 'GITHUB', url: 'https://github.com/andoreatta'},
                { text: 'TELEGRAM', url: 'https://t.me/lpierra'}
            ]
        })}}
    </body>
</html>

