@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('../fonts/atkinsonhyperlegible-small.woff2') format('woff2');
}

body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
}